@font-face {
    font-family: 'vinqueregular';
    src: url('https://raw.githubusercontent.com/5he1n/Alerts/master/MGBerg/fonts/vinque_rg.woff2');
}

@font-face {
    font-family: 'Pangolin';
    font-weight: bold;
    src: url('https://db.onlinewebfonts.com/t/273e546065967187adef5a138fb7c95d.woff2');
}

body {
    height: 100vh;
    width: 100vw;
    padding: 0;
}

#lottie{
    width:100%;
    height:100%;
    display:block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
    white-space: pre-wrap;
}

span{
  -webkit-text-stroke: 8px rgba(0, 0, 0, 0.61);
}

#effects{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}